.cardBox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  background: #fff;
  border-radius: 10px;
  background: #ffffff05;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: border-color 0.1s;
  border: 3px solid transparent;
  animation: borderAnimation 5s infinite;
}

.card h3, .card span {
  text-align: center;
  width: 100%;
}

.card h3 {
  font-size: 20px;
}

.card span {
  bottom: 20px;
  font-size: 18px;
  color: #333;
}

@keyframes borderAnimation {
  0% {
    border-color: transparent;
  }
  25% {
    border-color: #3498db;
  }
  50% {
    border-color: #e74c3c;
  }
  75% {
    border-color: #f39c12;
  }
  100% {
    border-color: transparent;
  }
}

.card .content h3 {
  margin-bottom: 20px;
  font-size: 20px;
  color: #333;
}

.card .content p {
  font-size: 16px;
  color: #666;
}
