.skills-container {
    margin: 0 auto;
    text-align: center;
  }
  
  .skills-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    gap: 6;
  }
  .skills-cards .skill-title {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
  }

  .skills-cards .skill-title img {
    width: 100%;
    height: 100px;
  }

  h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  
  .skill h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .skill-bar {
    width: 100%;
    background: #f0f0f0;
    border-radius: 25px;
    border: 1px solid #240ed766;
    overflow: hidden;
    margin-bottom: 24px;
  }
  
  .skill-level {
    height: 28px;
    border-radius: 25px;
    text-align: right;
    padding-right: 10px;
    line-height: 30px;
    color: white;
    transition: width 2s ease-in-out;
  }
  
  .skill-level.html {
    background: #e44d26;
    width: 90%; 
    animation: grow-html 2s forwards;
  }
  
  .skill-level.css {
    background: #2965f1;
    width: 80%;
    animation:  grow-85 2s forwards;
  }
  
  .skill-level.javascript {
    background: #f0db4f;
    width: 70%;
    animation:  grow-85 2s forwards;
  }
  .skill-level.react {
    width: 70%;
    background-color: #61dafb;
    animation:  grow-85 2s forwards;
  }
  
  .skill-level.nodejs {
    width: 80%;
    background-color: #68a063;
    animation:  grow-80 2s forwards;
  }
  
  .skill-level.express {
    width: 70%;
    background-color: #4919f4;
    animation:  grow-80 2s forwards;
  }
  
  .skill-level.python {
    width: 65%;
    background-color: #3776ab;
    animation:  grow-80 2s forwards;
  }
  
  @keyframes grow-html {
    from { width: 0; }
    to { width: 90%; }
  }
  
  @keyframes grow-85 {
    from { width: 0; }
    to { width: 85%; }
  }
  
  @keyframes grow-80 {
    from { width: 0; }
    to { width: 80%; }
  }


  
@media (max-width:600px) {  
  .skills-cards{
    display: block;
  }

}