body {
  color: #fff;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.container {
  background: #282c34;
  width: 100%;
  min-height: 100vh;
  transition: 0.5s;
}
.container.dark {
  background-color: #282c34;
  color: #fff;
  height: 100%;
}
.container.light {
  background-color: #d6e4dd54;
  color: #282c34;
}
.container.dark input, .container.dark textarea {
  color: #fff;
}
.container.light input {
  color: #282c34;
}
.title {
  font-size: 30px;
  color: aqua;
}

@media (max-width:600px) {  
    .container {
      height: 100%;
    }
}